---
import Layout from '../layouts/Layout.astro';
import ChapterNavigation from '../components/ChapterNavigation';
---

<Layout title="Game Feel: Enhanced Edition">
  <main>
    <ChapterNavigation client:load />
  </main>
</Layout>